body {
    margin: 0px;
    background-color: #F0EDEE; 
    color: #2C2C2C; 
    font-family: 'Poppins', sans-serif;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    background-color: #3A3A5A; 
    padding: 20px;
    border-bottom: 3px solid #FFD700; 
}

.header-text {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF; 
}

/* screen */

.user-input{
    border: 2px solid #D4AF37; 
    height: 600px;
    border-radius: 25px;
    overflow: hidden;
    background: linear-gradient(135deg, #FFDAC1, #B5A0E3); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    padding: 0px 20px 0px 20px;

}

.eraser, .random, .grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle, .toggle2, .toggle3{
    background: white;
    width: 132px;
    height: 70px;
    border: 0px;
    border-radius: 999px;
    padding: 4px;
    position: relative;
    cursor: pointer;
}

.toggle-circle, .toggle2-circle{
    background: red;
    width: 62px;
    height: 62px;
    border-radius: 999px;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: left 300ms ease, transform 300ms ease, background-color 200ms ease 300ms;
}

.toggle3-circle{
    background: green;
    width: 62px;
    height: 62px;
    border-radius: 999px;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: left 300ms ease, transform 300ms ease, background-color 200ms ease 300ms;
}

.toggle[aria-checked=true] .toggle-circle,
.toggle2[aria-checked=true] .toggle2-circle{
    background: green;
    left: calc(100% - 4px);
    transform: translateX(-100%);
    
}

.toggle3[aria-checked=true] .toggle3-circle {
    background: red;
    left: calc(100% - 4px);
    transform: translateX(-100%);
    
}
.sketch-screen {
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-direction: row;
    gap: 30px;
    height: 100vh;           
}

.container {
    display: flex;
    align-self: center;
    border: 2px solid #D4AF37; 
    overflow: hidden;
    border-radius: 25px;
    background: linear-gradient(135deg, #FFDAC1, #B5A0E3); 
    width: 600px;
    height: 600px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
}
